<div class="nav-bar">
    <div class="left-part">
        <button mat-mini-fab id="nav-left-button"><i class="material-icons"
                style="font-size:18px;">more_vert</i></button>
        <h4>{{ title }}</h4>
    </div>
    <div class="right-part">
        <div class="right-part" id="nav-right">
            <mat-form-field color="#ff0000">
                <input matInput type="search" placeholder="Search" [(ngModel)]="search">
            </mat-form-field>
            <button mat-mini-fab class="search-btn" (click)="redirectSearchResult()">
                <i class="material-icons" style="font-size:18px;">search</i>
            </button>
            <app-msgiconbtn [username]="authS.getUserName()" icon="assignment_ind" number="0"
                [matMenuTriggerFor]="person">
            </app-msgiconbtn>
            <mat-menu #person="matMenu">
                <button mat-menu-item [routerLink]="['/dashboard/profile']">
                    <strong>
                        <mat-icon>face</mat-icon>
                        {{authS.getUserName()}}
                    </strong>
                    profile
                </button>

                <button mat-menu-item [routerLink]="['/dashboard/rental/new']">
                    <mat-icon>open_in_new</mat-icon>
                    New Rental
                </button>

                <button mat-menu-item [matMenuTriggerFor]="manage">
                    <mat-icon>assignment</mat-icon>
                    Manage
                </button>

                <mat-menu #manage="matMenu">
                    <button mat-menu-item [routerLink]="['/dashboard/manage/rentals']">
                        Manage Rentals
                    </button>
                    <button mat-menu-item [routerLink]="['/dashboard/manage/bookings']">
                        Manage Bookings
                    </button>
                </mat-menu>

                <button mat-menu-item (click)="logout()">Logout</button>

            </mat-menu>
            <!-- <button mat-icon-button><i class="material-icons icon-btn">dashboard</i></button> -->
            <!-- <button mat-icon-button><i class="material-icons icon-btn">person</i></button> -->
            <!-- <app-msgiconbtn icon="notifications" number="5" [matMenuTriggerFor]="menu"></app-msgiconbtn> -->
            <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item>Mike John responded to your email</button>
        <button mat-menu-item>You have 5 new tasks</button>
        <button mat-menu-item>You're now friend with Andrew</button>
        <button mat-menu-item>Another Notification</button>
        <button mat-menu-item>Another One</button>
      </mat-menu> -->
        </div>
        <!-- <div id="menu">
      <button mat-icon-button (click)="menuClick()"><i class="material-icons">menu</i></button>
    </div> -->
    </div>
</div>